* {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  background: #E5E5E5;
}

.header .nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 10px;
  width: 72px;
  left: 16px;
  top: 1.56%;
  bottom: 1.56%;
  background: #fff;
  border-radius: 8px;
  position: fixed;
}
.header .nav-menu .nav-menu-list {
  padding: 0px;
  margin: 15px 0px;
}
.header .nav-menu .nav-menu-list .logo {
  margin-bottom: 70%;
}
.header .nav-menu .nav-menu-list li {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.header .nav-menu .nav-menu-list li:hover {
  background: rgba(167, 169, 165, 0.4352941176);
  border-radius: 10px;
}
.header .nav-menu .nav-menu-list .menu img, .header .nav-menu .nav-menu-list .shop img, .header .nav-menu .nav-menu-list .bag-icon img {
  width: 30px;
  height: 30px;
}
.header .nav-menu .log {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.header .nav-menu .log:hover {
  background-color: #13cc94;
}
.header .nav-menu .log img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 11px;
}

.bag {
  position: fixed;
  height: 300px;
  left: 75%;
  top: 51px;
  border-left: 4px solid rgba(26, 31, 22, 0.5019607843);
  padding: 30px;
  margin-right: 41px;
}
.bag button {
  padding: 8px 24px;
  gap: 8px;
  width: 159px;
  height: 40px;
  background: #1A1F16;
  border-radius: 14px;
  color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  width: 820px;
  margin-left: 122px;
  margin-top: 24px;
}
.search .search-bar {
  display: flex;
  flex-direction: column;
}
.search .search-bar .search-icon {
  position: absolute;
  top: 11.5%;
  left: 57.5%;
  cursor: pointer;
  color: #808080;
  width: 27px;
  height: 27px;
}
.search .search-bar label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #60695C;
  margin-bottom: 8px;
  padding-left: 5px;
}
.search .search-bar input {
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 507px;
  height: 40px;
  background: #FFF;
  box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.1490196078);
  border: none;
  border-radius: 13px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.search .search-bar input [type=search] {
  font-size: 20px;
  line-height: 24px;
  color: rgba(26, 31, 22, 0.5);
  flex: none;
  order: 0;
  flex-grow: 1;
}

.home-product-container {
  width: 65%;
  height: auto;
  margin-left: 122px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-product-container .productList-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.home-product-container .productList-container .item-container {
  width: 190px;
  height: 416px;
  background-color: transparent;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}
.home-product-container .productList-container .item-container .image {
  position: absolute;
  top: 0px;
  cursor: pointer;
}
.home-product-container .productList-container .item-container .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1A1F16;
  position: absolute;
  bottom: 26%;
  left: 12%;
}
.home-product-container .productList-container .item-container .model {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #60695C;
  position: absolute;
  bottom: 20%;
  left: 12%;
}
.home-product-container .productList-container .item-container .price {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1A1F16;
  position: absolute;
  bottom: 7%;
  left: 12%;
}
.home-product-container .productList-container .item-container .btn-add {
  width: 22px;
  height: 25px;
  position: absolute;
  bottom: 12%;
  right: 12%;
  cursor: pointer;
  background-image: url(./pictures/Vector-8.png);
  background-repeat: no-repeat;
  background-color: #E5E5E5;
  background-size: contain;
  padding: 5px;
  border: none;
  color: #fff;
}/*# sourceMappingURL=App.css.map */