@import "variables";
@import "mixins";

* {
    list-style-type: none;
    text-decoration: none;
}

body { 
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    background: #E5E5E5;
}

.header {
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        gap: 10px;
        width: 72px;
        left: 16px;
        top: 1.56%;
        bottom: 1.56%;
        background: #fff;
        border-radius: 8px;
        position: fixed;

        .nav-menu-list {
            padding: 0px;
            margin: 15px 0px;

            .logo {
                margin-bottom: 70%;
            }

            li {
                width: 40px;
                height: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                cursor: pointer;
            }

            li:hover {
                background: #1A1F16;
                border-radius: 10px;

            }
        }

        .log {
            cursor: pointer;
        }
    }
}

.bag {
    position: absolute;
    // width: 304px;
    height: 300px;
    left: 75%;
    top: 51px;
    border-left: 4px solid #1a1f1680;
    padding: 30px;
    margin-right: 41px;

    button {
        padding: 8px 24px;
        gap: 8px;
        width: 159px;
        height: 40px;
        background: #1A1F16;
        border-radius: 14px;
        color: #fff;
    }
}

.home {
    display: flex;
    justify-content: center;
    width: 820px;
    margin-left: 122px;
    margin-top: 24px;
}
.search{
    display: flex;
    justify-content: center;
    width: 820px;
    margin-left: 122px;
    margin-top: 24px;
    .search-bar {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.02em;
            color: #60695C;
            margin-bottom: 8px;
            padding-left: 5px;
        }

        input {
            align-items: center;
            padding: 8px 16px;
            gap: 8px;
            width: 507px;
            height: 56px;
            background: #FFF;
            box-shadow: 0px 4px 16px #1a1f1626;
            border: none;
            border-radius: 13px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }

        input [type=search] {
            font-size: 20px;
            line-height: 24px;
            color: rgba(26, 31, 22, 0.5);
            flex: none;
            order: 0;
            flex-grow: 1;
        }
    }
}